.main {
	width: 52%;
	padding-right: 6%;
	display: flex;
	justify-content: flex-end;
	border-right: 1px solid black;
	height: 100%;
}

.sidebar {
	width: 38%;
	padding-left: 4%;
	height: 100%;
}

.main,
.sidebar {
	padding-top: 4em;
	padding-bottom: 4em;
}

.newName {
	margin-bottom: 1rem;
}
